@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	font-family: "Roboto", system-ui;
	padding: 0;
	margin: 0;
	color: white;
}

body {
	background-color: #070f2b;
}

#title {
	display: flex;
	justify-content: center;
	margin: 10px 0 20px 0;
	font-weight: 200;
}

.main-gameboard {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
	justify-items: center;
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(10, 35px);
	grid-template-rows: repeat(10, 35px);
	background-color: #1b1a55;
	border-radius: 10px;
	padding: 12.5px;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(15px + 0.25vw);
	color: #a9a8e1;
	outline: 1px solid #9290c3;
	margin: 0.5px;
	padding: 5px;
}

.robot {
	margin-top: -5px;
	padding-left: 5%;
	font-weight: 500;
}

.settings {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
	justify-items: center;
}

.right {
	visibility: visible;
}

.small-right {
	display: none;
	visibility: hidden;
}

.player-informations,
.settings > div,
.small-right {
	margin: 10px 0 10px 0;
	padding: 20px 10px;
	background-color: #1b1a55;
	border-radius: 10px;
	font-weight: 300;
}

.left {
	align-self: center;
}

.right > div,
.small-right > div {
	padding: 5px;
	margin: 5px;
}

.player-name {
	font-size: 25px;
	font-style: italic;
}

.blur {
	/* Use sone animations like fading*/
	filter: blur(1.5px);
	pointer-events: none;
}

.disabled {
	pointer-events: none;
}

@media only screen and (max-width: 790px) {
	.gameboard {
		grid-template-columns: repeat(10, 25px);
		grid-template-rows: repeat(10, 25px);
		padding: 10px;
	}

	.square {
		font-size: calc(13px + 0.25vw);
		margin: 0.5px;
		padding: 5px;
	}

	.win-status {
		font-size: calc(13px + 0.25vw);
	}

	.robot {
		font-size: calc(10px + 0.25vw);
		margin-top: 0;
	}

	.right {
		display: none;
		visibility: hidden;
	}

	.small-right {
		display: grid;
		visibility: visible;
		margin-top: 20px;
	}
}
